@model IEnumerable<EmployeeViewModel>
@{
    ViewBag.Title = "Сотрудники";
}
<div class="container">
    <h2>Сотрудники</h2>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" class="btn btn-success">Добавить</a>
    }
    <table class="table table-condensed">
        <tr>
            <td></td>
            <td>Id</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Возраст</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    }
                </td>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td><a asp-action="Details" asp-route-id="@item.Id">Подробнее</a></td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>